<nav class='navbar navbar-expand navbar-light bg-light'>
  <div class="container">
  <a class='navbar-brand' routerLink='/welcome'>{{title}}</a>  
  <ul class='navbar-nav ml-auto'>
    <li class='nav-item'>
      <a class='nav-link' [routerLink]="['/welcome']">Home</a>    <!-- another way to use routerLink, not sure the difference -->
    </li>
    <li class='nav-item'>
      <a class='nav-link' routerLink='/products'>Products</a>
    </li>
  </ul>
</div>
</nav>  <!-- this header should be a component -->

<router-outlet></router-outlet>